font-family: 'Lato', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Roboto', sans-serif;

/* <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato&family=Nunito&family=Roboto&display=swap" rel="stylesheet"> */